[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
clint = "*"
logzero = "*"
profig = "*"
psutil = "*"
pycryptodome = "*"
hot-redis = "*"
paho-mqtt = "*"
wcwidth = "*"
requests = ">=2.20.0"
tqdm = "*"
numpy = "*"
selenium = "*"
"bs4" = "*"
urllib3 = ">=1.24.2"

[dev-packages]
rope = "*"
twine = "*"

[requires]
python_version = "3.7"
